<div class="character-container">
    <h2>Eddard Stark</h2>
    <img id="eddard-image" src="http://www.johnpicacio.com/client/bantam/lowres/NEDSTARKlowres.jpg" alt="image of Ned Stark" />
    <h3>
        Allegiance: House Stark
    </h3>
    <h3>
        Titles: Lord of Winterfell, Warden of the North, Hand of the King
    </h3>
    <h3>
        Alias: The Quiet Wolf
    </h3>
    <p>
        Though his family and close friends fondly call him Ned, he is known to most as Eddard Stark,
        Lord of Winterfell and Warden of the North. His demeanor is both quiet and commanding and he inspires respect
        in all his fellow Northmen. At the start of <i>A Game of Thrones</i>, he is asked by
        longtime friend, King Robert Baratheon, to leave his home behind and become Hand of the King to aid Robert
        in managing a kingdom teetering above a blanket of unrest.
    </p>
    <button ng-click="show=true" id="button-show">WARNING: Click to Reveal Spoilers</button>
    <button ng-click="show=false">Hide Spoilers</button>
    <p ng-show="show" class="spoiler">C-3PO AND TRINITY FALL IN LOVE!</p>
    <p ng-hide="show" class="spoiler"></p>
</div>