<div class="character-container">
    <h2>Tyrion Lannister</h2>

    <img id="tyrion-image" src="http://orig03.deviantart.net/3719/f/2013/354/3/9/tyrion_lannister_by_giacobino-d6yowly.jpg"
         alt="image of Tyrion Lannister" />

    <h3>
        Allegiance: House Lannister
    </h3>
    <h3>
        Title: Hand of the King
    </h3>
    <h3>
        Alias: The Imp, The Half-Man
    </h3>
    <p>
        A small man can cast a large shadow. Born a dwarf with grotesque facial features, Tyrion endures much
        disdain and disgust from nearly everyone he comes across. Were it not for his family name, he surely would
        be treated even worse. Tyrion recognizes his weaknesses and instead plays to his strengths: his sharp
        wit and his fast tongue. At the start of <i>A Game of Thrones</i>, Tyrion travels north with his family and the
        King's party. Before returning home, he decides to break from the group and travel North to see the Wall,
        unaware of the trials, both figurative and literal, that await him.
    </p>
    <button ng-click="show=true" id="button-show">WARNING: Click to Reveal Spoilers</button>
    <button ng-click="show=false">Hide Spoilers</button>
    <p ng-show="show" class="spoiler">CLEGANEBOWL CONFIRMED GET HYPE</p>
    <p ng-hide="show" class="spoiler"></p>
</div>